@charset "UTF-8";

:root {
    --color01: #ceb0b2;
    --color02: black
    --color03:
}

body, ul {
    margin: 0px;
    padding: 0px;
    background-color: var(--color01);
    max-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background-color: #bea1a3;
    border-radius: 5px;
}

#logo {
    margin: 0 -1rem;
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
    font-size: 8vw;
    font-variant: small-caps;
    background: #ceb0b2;
}

#header {
    box-sizing: border-box;
    /*height: 70px;*/
    padding: 1rem;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    background: #ceb0b2;
}

#nav {
    padding: 1rem;
    margin: -1rem;
    background: #ceb0b2;
}

#social-media {
    text-align: right;
    /*display: flex;
    gap: .5rem;*/
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    margin: auto;
    justify-content: center;
    background-color: #ceb0b2;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

main {
    background-color: #ceb0b2;
    display: block;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

main img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

@media (max-width: 600px) {

    #header {
        display: flex;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgba(0, 0, 0, .05);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        /*height: auto;*/
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem .5rem;
        margin: 0 1rem;
        border-bottom: 2px solid #ceb0b2;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        color: black;
        justify-content: left;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}