@charset "UTF-8";

:root {
    --color01: #ceb0b2;
    --color02: 
    --color03:
    --font01:
    --font02: Arial, Helvetica, sans-serif;
}

:root {
    --font01: arial, helvetica, sans-serif;
}

body, ul {
    margin: 0px;
    padding: 0px;
    background-color: var(--color01);
    max-height: 100vh;
    
}

#social-media, #menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

/*#menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}*/

#social-media a:hover {
    background-color: #bea1a398;
    border-radius: 5px;
}

#menu a:hover {
    background-color: #bea1a398;
    border-radius: 5px;
}

#logo {
    /*margin: 0 0rem;*/
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
    font-size: 8vw;
    font-variant: small-caps;
    background: #ceb0b2;
}

#header {
    box-sizing: border-box;
    /*height: 70px;*/
    padding: 1rem;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    background: #ceb0b2;
}

#nav {
    padding: 1rem;
    margin: -1rem;
    background: #ceb0b2;
}

#social-media {
    text-align: right;
    /*display: flex;
    gap: .5rem;*/
}

#social-media img {
    display: inline;
    margin-right: 1.5px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.137);
    border-radius: 3px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    margin: auto;
    justify-content: center;
    background-color: #ceb0b2;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

#main {
    background-color: #ceb0b2;
    display: block;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    
}

#main img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    
}

@media (max-width: 600px) {

    #header {
        display: flex;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0px;
        background: rgba(0, 0, 0, .05);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 100px);
        /*height: auto;*/
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem .5rem;
        margin: 0 1rem;
        border-bottom: 2px solid #ceb0b2;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        color: black;
        justify-content: left;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

#header-about {
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
    font-size: 8vw;
    font-variant: small-caps;
}

#header-about p{
    font-size: 16px;
}

#header-about a {
    color: black;
    text-decoration: none;
}

#main-about {
    padding: 0px 5px;
    background-color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: auto;
    max-width: 800px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: 3 vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.img {
    background-color: rgb(68, 68, 68);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.462);
    background-size: cover;
    background-attachment: fixed;
}

/*section.img {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}

section.img p {
    display: inline-block;
    padding: 5px;
    background-color: pink;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

/*section.img:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }*/
  

section.img#img01 {

    background-image: url(../images/historical.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}